<f:layout name="Backend" />

<f:section name="main">
<h1>Newsletter</h1>

<f:flashMessages renderMode="div" />

<ul class="be-ist">
<li class header>
	<span class="id">ID</span>
	<span class="title"><f:translate key="tx_newsletterman_domain_model_newsletter.title" /></span>
	<span class="sent"><f:translate key="tx_newsletterman_domain_model_newsletter.state" /></span>
	<span class="page"><f:translate key="tx_newsletterman_domain_model_newsletter.page" /></span>
	<span class="date"><f:translate key="tx_newsletterman_domain_model_newsletter.send_date" /></span>
</li>
<f:for each="{newsletters}" as="newsletter">
	<li>
		<span class="id">{newsletter.uid}</span>
		<span class="title">{newsletter.title}</span>
		<span class="sent"><f:if condition="{newsletter.state} == 0"><f:then>unsent</f:then><f:else>send</f:else></f:if></span>
		<span class="page">{newsletter.page}</span>
		<span class="date">{newsletter.send_date}</span>
	</li>
</f:for>
</ul>

<f:link.action action="new">New Newsletter</f:link.action>
</f:section>
